[submodule "themes/hugo-tania"]
	path = themes/hugo-tania
	url = https://github.com/WingLim/hugo-tania
[submodule "public"]
	path = public
	url = https://github.com/ganyang-eyespage/ganyang-eyespage.github.io.git
	branch = master
